<h1>
  Filtro Obreros
</h1>


<mat-grid-list cols="3" rowHeight="70px">

  <mat-grid-tile>

    <mat-form-field appearance="fill">
      <mat-label>Dni</mat-label>
      <input matInput #dni>
    </mat-form-field>

  </mat-grid-tile>



  <mat-grid-tile>
    <button mat-raised-button color="primary" (click)="BuscarObreros(dni)" >BUSCAR</button>
  </mat-grid-tile>
  <!-- <mat-grid-tile></mat-grid-tile> -->


<mat-grid-tile>
  <button mat-raised-button color="accent"  (click)="exporter.exportTable('csv')">
    EXPORTAR
  </button>
</mat-grid-tile>




</mat-grid-list>



    
<table mat-table  matTableExporter [dataSource]="dataSource" #exporter="matTableExporter">

  <!-- Position Column -->
  <ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef> DNI </th>
    <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
  </ng-container>

  <ng-container matColumnDef="horaslabo">
    <th mat-header-cell *matHeaderCellDef> Horas Laboradas </th>
    <td mat-cell *matCellDef="let element"> {{element.horaslabo}} </td>
  </ng-container>

  <ng-container matColumnDef="diaslabo">
    <th mat-header-cell *matHeaderCellDef> Dias Laboradas </th>
    <td mat-cell *matCellDef="let element"> {{element.diaslabo}} </td>
  </ng-container>

  <ng-container matColumnDef="faltas">
    <th mat-header-cell *matHeaderCellDef> Faltas </th>
    <td mat-cell *matCellDef="let element"> {{element.faltas}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="tipotrabajador">
    <th mat-header-cell *matHeaderCellDef> Tipo Trabajador </th>
    <td mat-cell *matCellDef="let element"> {{element.tipotrabajador}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="salario">
    <th mat-header-cell *matHeaderCellDef> Salario </th>
    <td mat-cell *matCellDef="let element"> {{element.salario}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr  mat-row *matRowDef="let row; columns: displayedColumns;" 
    class="
      {{ row.tipotrabajador == 0 ? 'obrero': '' }}
      {{ row.tipotrabajador == 1 ? 'supervisor': '' }}
      {{ row.tipotrabajador == 2 ? 'gerente': '' }}

    "
    ></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>
